<div id="<%= dom_id(message) %>" class="message-card cont-<%= message.user.id %>">
  <div class="card">
    <div class="custom-card-body">
      <strong>
        <%= link_to message.user.name, user_path(message.user), data: { turbo: false },
                                                                class: "link-dark", style: "text-decoration: none;" %>
      </strong>
      <p><%= message.body %></p>
    </div>
  </div>
</div>
