<div class="container mt-3">
  <h2 class="mb-4">Conversation with <%= @presenter.companion.name %></h2>

  <%= turbo_stream_from "messages" %>

  <turbo-frame id="messages" class="mb-3">
    <%= render @messages %>
  </turbo-frame>

  <%= render "messages/form", conversation: @conversation %>
</div>
