<div class="text-center">
  <h1 class="mb-5">Open Chat</h1>
</div>

<div id="users">
  <%= render partial: "users", locals: { posts: @users } %>
  <div data-controller="pagy-initializer">
    <%== render partial: "pagy/bootstrap_nav", locals: { pagy: @pagy } %>
  </div>
</div>
