<main class="px-3">
  <h1>Diary Analyzer AI</h1>
  <p class="lead">
    Diary Analyzer AI is an advanced tool powered by artificial intelligence, designed for analyzing and interpreting personal diary entries. It provides users with valuable insights from their daily recordings, identifying key themes, moods, and trends, aiding in better self-understanding and personal growth.
  </p>
  <p class="lead">
    <a href="users/sign_in" class="btn btn-lg btn-light fw-bold border-white bg-white">Let's start!</a>
  </p>
</main>
