<main class="px-3">
  <div>
    <h1 class="text-center mb-5 compact-font">Diary Analyzer AI</h1>

    <p class="text-center col-md-6 offset-md-3 lead">
      The advanced tool powered by artificial intelligence, designed for analyzing and interpreting personal diary entries.
      It provides users with valuable insights from their daily recordings, identifying key themes, moods, and trends, aiding in better self-understanding and personal growth.
    </p>
    <div class="text-center">
      <p class="mb-5 col-md-6 offset-md-3">
        <%= button_to "START", "users/sign_in", method: :get, form_class: "inline", class: "btn btn-lg btn-dark fw-bold border-white bg-dark" %>
      </p>
    </div>
  </div>
</main>
