<div id="posts">
  <%= render partial: "posts", locals: { posts: @posts } %>
  <div data-controller="pagy-initializer">
    <%== render partial: "pagy/bootstrap_nav", locals: { pagy: @pagy } %>
  </div>
</div>
