<div class="text-center">
  <h1 class="mb-5">Memories</h1>
</div>

<div id="posts">
  <%= render partial: "posts", locals: { posts: @posts } %>
  <div data-controller="pagy-initializer">
    <%== render partial: "pagy/bootstrap_nav", locals: { pagy: @pagy } %>
  </div>
</div>
