.compact-font {
    font-family: 'Anton', Arial, sans-serif;
}

.message-card {
    margin-bottom: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
}

@media (max-width: 767px) {
    .message-card {
        width: 100% !important;
    }
}

.button-as-icon {
    background: none;
    border: none;
}

.pagination .page-item .page-link {
    color: #000000 !important;
    background: #ffffff !important;
}

.page-item.active .page-link {
    color: #ffffff !important;
    background: #000000 !important;
    border-color: #000000 !important;
}
