body {
    padding-top: 80px;
}

.navbar-container {
    max-width: 75% !important;
}

.compact-font {
    font-family: 'Anton', Arial, sans-serif;
}

.avatar {
    width: 150px;
    height: 150px;
}

.message-card {
    width: fit-content;
    max-width: 80%;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem
}

.custom-card-body {
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.button-as-icon {
    background: none;
    border: none;
}

.pagination .page-item .page-link {
    color: #000000 !important;
    background: #ffffff !important;
}

.page-item.active .page-link {
    color: #ffffff !important;
    background: #000000 !important;
    border-color: #000000 !important;
}

#messages {
    height: calc(100vh - 150px);
    overflow-x: hidden;
    overflow-y: scroll;
}

