<footer class="mt-auto mt-5 py-3">
  <ul class="border-bottom"></ul>
  <p class="text-center text-muted">Developed by <a class="link-dark" href="https://github.com/mrabets/">@mrabets</a>.</p>
</footer>
