<div class="custom-footer">
  <footer class="mt-auto mt-5 py-2">
    <ul class="border-bottom"></ul>
    <p class="text-center text-muted">
      Developed by Mrabets
      <a class="social-icon" href="https://github.com/mrabets/">
        <i class="fab fa-github"></i>
      </a>
      <a class="social-icon" href="https://www.linkedin.com/in/karimmarabet/">
        <i class="fab fa-linkedin"></i>
      </a>
      <a class="social-icon" href="https://medium.com/@mrabets">
        <i class="fab fa-medium"></i>
      </a>
    </p>
  </footer>
</div>
